# Introduction to Pandas.

Pandas is a library for do the data analysis fast and easy in Python

To start working with pandas we need to installed in our enviroment.

In [10]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\cjo2mx\envs\data\lib\site-packages (1.0.5)
Requirement already satisfied: numpy>=1.13.3 in c:\users\cjo2mx\envs\data\lib\site-packages (from pandas) (1.19.0)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\cjo2mx\envs\data\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\cjo2mx\envs\data\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: six>=1.5 in c:\users\cjo2mx\envs\data\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)

In [59]:
#libraries
import pandas as pd

Pandas data table representation ![caption](imagen/01dataframe.svg)

To create manually store data in a table, create a DataFrame, we need to know two important definitions:
 * **List**
     * Is a collection which is ordered and changeable. Allows duplicate members.
 * **Dictionary**
      * Is a collection which is unordered, changeable and indexed. No duplicate members.

In [60]:
#We define a DataFrame using list and dictionary.
df = pd.DataFrame({
        "Name" : ["Rodrigo", "Manuel", "Jesus"], 
        "Subject" : ["Matematicas", "Fisica", "Quimica"],
        "Grade": [100, 90, 80]}
)

In [61]:
df

      Name      Subject  Grade
0  Rodrigo  Matematicas    100
1   Manuel       Fisica     90
2    Jesus      Quimica     80

A DataFrame is a 2-dimensional data structure that can store data of different types in columns. 
It similar to a spreedsheet, a SQL table or data.frame in R.

Each **column** in a DataFrame is a **Series** ![caption](imagen/01series.svg)

When selecting a single column of a pandas **DataFrame**, the result is a pandas **Series**. To select the column, use the column label in between square brackets []

Example
We're interested in working with the data of column Name

In [62]:
df['Name']

0    Rodrigo
1     Manuel
2      Jesus
Name: Name, dtype: object

We can create series from scratch as well:

In [63]:
ages = pd.Series([20, 30, 25], name='Age')

In [64]:
ages

0    20
1    30
2    25
Name: Age, dtype: int64

A series has no columns labels, as it is just a single columl of a DataFrame. A series does have row labels.

# What we can do with DataFrame and Series.

The maximum in a column

In [65]:
df['Grade'].max()

100

Basic statistic

In [66]:
df.describe()

       Grade
count    3.0
mean    90.0
std     10.0
min     80.0
25%     85.0
50%     90.0
75%     95.0
max    100.0

The discribe() method provides a quick overview of the numerical data in a DataFrame. As the Name and Subject columns 
are textual data, these are  by default not taken into account by the describe() method

# REMEMBER

    * import the package - import pandas as pd
    * A table of data is stored as a pandas DataFrame
    * Each Column in a DataFrame is a Series
    * You can do thing appliying a method to a DataFrame or Series

# How do I read and write tabular data?
![caption](imagen/02_io_readwrite1.svg)

In [67]:
#read_csv
data = pd.read_csv("data/conjunto_de_datos_coe1_enoe_2019_1t.csv")

pandas provide the read_csv() function to read data stored as a csv file into a pandas DataFrame. Pandas sopports many differents 
file formats or data sources out of the box (csv, excel, sql, json, parquet, etc), each of them with the prefix read_*

When you check a DataFrame displayin g the first and last 5 rows.

In [68]:
#dataframes
data

,R_DEF,CD_A,ENT,CON,UPM,D_SEM,N_PRO_VIV,V_SEL,N_HOG,H_MUD,...,P5G10,P5G11,P5G12,P5G13,P5G14,P5G15,P5G99,P5H,UR,FAC
0,0,1,9,40001,900471,101,1,1,1,0,...,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,1,475
1,0,1,9,40001,900471,101,1,1,1,0,...,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,1,475
2,0,1,9,40001,900471,101,1,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,475
3,0,1,9,40001,900471,101,1,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,475
4,0,1,9,40001,900471,101,1,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,475
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321397,0,86,32,60039,3260030,503,45,18,1,0,...,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,2,251
321398,0,86,32,60039,3260030,503,124,19,1,0,...,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,2,251
321399,0,86,32,60039,3260030,503,124,19,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,251
321400,0,86,32,60039,3260030,503,133,20,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,251
321401,0,86,32,60039,3260030,503,133,20,1,0,...,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,2,251

If we want to see the first 10 rows of a pandas DataFrame

In [69]:
data.head(10)

,R_DEF,CD_A,ENT,CON,UPM,D_SEM,N_PRO_VIV,V_SEL,N_HOG,H_MUD,...,P5G10,P5G11,P5G12,P5G13,P5G14,P5G15,P5G99,P5H,UR,FAC
0,0,1,9,40001,900471,101,1,1,1,0,...,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,1,475
1,0,1,9,40001,900471,101,1,1,1,0,...,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,1,475
2,0,1,9,40001,900471,101,1,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,475
3,0,1,9,40001,900471,101,1,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,475
4,0,1,9,40001,900471,101,1,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,475
5,0,1,9,40001,900471,101,23,2,1,0,...,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,1,475
6,0,1,9,40001,900471,101,23,2,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,475
7,0,1,9,40001,900471,101,23,2,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,475
8,0,1,9,40001,900471,101,23,2,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,475
9,0,1,9,40001,900471,101,53,3,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,475

if we are interested the last N rows, we can use the tail() method

In [70]:
data.tail(10)

,R_DEF,CD_A,ENT,CON,UPM,D_SEM,N_PRO_VIV,V_SEL,N_HOG,H_MUD,...,P5G10,P5G11,P5G12,P5G13,P5G14,P5G15,P5G99,P5H,UR,FAC
321392,0,86,32,60039,3260030,503,172,17,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,251
321393,0,86,32,60039,3260030,503,45,18,1,0,...,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,2,251
321394,0,86,32,60039,3260030,503,45,18,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,251
321395,0,86,32,60039,3260030,503,45,18,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,251
321396,0,86,32,60039,3260030,503,45,18,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,251
321397,0,86,32,60039,3260030,503,45,18,1,0,...,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,2,251
321398,0,86,32,60039,3260030,503,124,19,1,0,...,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,2,251
321399,0,86,32,60039,3260030,503,124,19,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,251
321400,0,86,32,60039,3260030,503,133,20,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,251
321401,0,86,32,60039,3260030,503,133,20,1,0,...,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,2,251

How pandas interpreted each column data type? Pandas can do this with the dtype attribute.

In [71]:
data.dtypes

R_DEF      int64
CD_A       int64
ENT        int64
CON        int64
UPM        int64
          ...
P5G15    float64
P5G99    float64
P5H      float64
UR         int64
FAC        int64
Length: 186, dtype: object

Somebody requested a file as spreadsheet

In [73]:
data.head(10).to_excel('data_rodrigo.xlsx', sheet_name='passengers', index=False)

In [57]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.4-py2.py3-none-any.whl (241 kB)
Collecting et-xmlfile
  Downloading et_xmlfile-1.0.1.tar.gz (8.4 kB)
Collecting jdcal
  Downloading jdcal-1.4.1-py2.py3-none-any.whl (9.5 kB)
Building wheels for collected packages: et-xmlfile
  Building wheel for et-xmlfile (setup.py): started
  Building wheel for et-xmlfile (setup.py): finished with status 'done'
  Created wheel for et-xmlfile: filename=et_xmlfile-1.0.1-py3-none-any.whl size=8920 sha256=90cdff3b0eae9d030ea2a365ddaa8af3ea03195baba11cbfedaba546db6e834d
  Stored in directory: c:\users\cjo2mx\appdata\local\pip\cache\wheels\e2\bd\55\048b4fd505716c4c298f42ee02dffd9496bb6d212b266c7f31
Successfully built et-xmlfile
Installing collected packages: et-xmlfile, jdcal, openpyxl
Successfully installed et-xmlfile-1.0.1 jdcal-1.4.1 openpyxl-3.0.4

By setting index = False the row index labels are not saved in the spreadsheet

Interesting technical summary of a DataFrame

In [74]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 321402 entries, 0 to 321401
Columns: 186 entries, R_DEF to FAC
dtypes: float64(168), int64(18)
memory usage: 456.1 MB

We're interested in working with the data of column P5G12

# REMEMBER

     * Getting data in to pandas from many differents file formats or data source is supported by read_* functions
     * Exporting data out of pandas is provided by differents to_* methods.
     * The head/tail/info method and the dtype attributes are convenient for a first check

# How I do select a subset of a DataFrame?
How to select specific column from a DataFrame?

![caption](imagen/03_subset_columns.svg)

In [76]:
N_PRO_VIV = data["N_PRO_VIV"]

To select a single column, use square brackets [] with the column name of the column of interest

In [79]:
N_PRO_VIV.head()

0    1
1    1
2    1
3    1
4    1
Name: N_PRO_VIV, dtype: int64

Each column in a DataFrame is a Series.

In [81]:
type(N_PRO_VIV)

pandas.core.series.Series

We can take a look at the shape

In [82]:
N_PRO_VIV.shape

(321402,)

DataFrame.shape is an attribute of a pandas Series and DataFrame containing the number of rows and columns (nrows, ncolumns). A pandas 
Series is 1-dimensional and only the number of row is returned

If we want more columns?

In [84]:
more_columns = data[["N_PRO_VIV", "V_SEL"]]

In [85]:
more_columns.head()

   N_PRO_VIV  V_SEL
0          1      1
1          1      1
2          1      1
3          1      1
4          1      1

To select multiple columns, use a list of columns names within the selection brackets []

return the typeof more_columns

In [87]:
type(more_columns)

pandas.core.frame.DataFrame

In [88]:
more_columns.shape

(321402, 2)

# How do I filter specific rows from a DataFrame?
![caption](imagen/03_subset_rows.svg)

Maybe we are interested in N_PRO_VIV > 2

In [89]:
above_2 = data[data["N_PRO_VIV"] > 2]

To select rows based on a conditional expression, use a condition inside the selection brackets[ ], also we can use ==, !=, <, <=, >, >=.

In [90]:
above_2.head()

,R_DEF,CD_A,ENT,CON,UPM,D_SEM,N_PRO_VIV,V_SEL,N_HOG,H_MUD,...,P5G10,P5G11,P5G12,P5G13,P5G14,P5G15,P5G99,P5H,UR,FAC
5,0,1,9,40001,900471,101,23,2,1,0,...,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,1,475
6,0,1,9,40001,900471,101,23,2,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,475
7,0,1,9,40001,900471,101,23,2,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,475
8,0,1,9,40001,900471,101,23,2,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,475
9,0,1,9,40001,900471,101,53,3,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,475

In [92]:
above_2.shape

(317110, 186)

We're interested in D_SEM 101 and 503

In [94]:
D_SEM101_503 = data[data["D_SEM"].isin([101,503])]

In [95]:
D_SEM101_503

,R_DEF,CD_A,ENT,CON,UPM,D_SEM,N_PRO_VIV,V_SEL,N_HOG,H_MUD,...,P5G10,P5G11,P5G12,P5G13,P5G14,P5G15,P5G99,P5H,UR,FAC
0,0,1,9,40001,900471,101,1,1,1,0,...,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,1,475
1,0,1,9,40001,900471,101,1,1,1,0,...,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,1,475
2,0,1,9,40001,900471,101,1,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,475
3,0,1,9,40001,900471,101,1,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,475
4,0,1,9,40001,900471,101,1,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,475
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321397,0,86,32,60039,3260030,503,45,18,1,0,...,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,2,251
321398,0,86,32,60039,3260030,503,124,19,1,0,...,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,2,251
321399,0,86,32,60039,3260030,503,124,19,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,251
321400,0,86,32,60039,3260030,503,133,20,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,251
321401,0,86,32,60039,3260030,503,133,20,1,0,...,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,2,251

We only have know data.

In [96]:
P5G14_not_NAN = data[data["P5G14"].notna()]

In [97]:
P5G14_not_NAN

,R_DEF,CD_A,ENT,CON,UPM,D_SEM,N_PRO_VIV,V_SEL,N_HOG,H_MUD,...,P5G10,P5G11,P5G12,P5G13,P5G14,P5G15,P5G99,P5H,UR,FAC
1,0,1,9,40001,900471,101,1,1,1,0,...,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,1,475
10,0,1,9,40001,900471,101,53,3,1,0,...,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,1,475
11,0,1,9,40001,900471,101,79,4,1,0,...,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,1,475
14,0,1,9,40001,900471,101,106,5,1,0,...,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,1,475
18,0,1,9,40002,912010,101,46,1,1,0,...,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,1,1272
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321389,0,86,32,60039,3260030,503,141,16,1,0,...,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,2,251
321391,0,86,32,60039,3260030,503,172,17,1,0,...,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,2,251
321393,0,86,32,60039,3260030,503,45,18,1,0,...,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,2,251
321398,0,86,32,60039,3260030,503,124,19,1,0,...,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,2,251
321401,0,86,32,60039,3260030,503,133,20,1,0,...,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,2,251

In [101]:
P5G14_not_NAN.shape

(149490, 186)

# How to select specific rows and columns from a DataFrame?
![caption](imagen/03_subset_columns_rows1.svg)

specific N_PRO_VIV with P5G14 > 14

In [106]:
specific_columns = data.loc[data["P5G14"] > 13, "N_PRO_VIV"]

In [107]:
specific_columns.head()

1       1
10     53
11     79
14    106
18     46
Name: N_PRO_VIV, dtype: int64

In this case, a subset of both rows and columns is made one go and just selection brackets [] is not sufficient anymore. The loc/iloc 
operators ared required in front of the selection brackets [].  When using loc/iloc, the part before the comma is the  rows you want
and the part after the comma, is the columns you want to select

In [108]:
data.iloc[9:25, 2:5], #rows and columns

    ENT    CON     UPM
9     9  40001  900471
10    9  40001  900471
11    9  40001  900471
12    9  40001  900471
13    9  40001  900471
14    9  40001  900471
15    9  40001  900471
16    9  40001  900471
17    9  40002  912010
18    9  40002  912010
19    9  40002  912010
20    9  40002  912010
21    9  40002  912010
22    9  40002  912010
23    9  40002  912010
24    9  40002  912010

We can assigned values to selected data

In [112]:
data.iloc[0:5, 3] = "anonymous"

In [113]:
data.head()

,R_DEF,CD_A,ENT,CON,UPM,D_SEM,N_PRO_VIV,V_SEL,N_HOG,H_MUD,...,P5G10,P5G11,P5G12,P5G13,P5G14,P5G15,P5G99,P5H,UR,FAC
0,0,1,9,anonymous,900471,101,1,1,1,0,...,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,1,475
1,0,1,9,anonymous,900471,101,1,1,1,0,...,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,1,475
2,0,1,9,anonymous,900471,101,1,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,475
3,0,1,9,anonymous,900471,101,1,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,475
4,0,1,9,anonymous,900471,101,1,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,475

# REMEMBER
    * When selecting subsets of data, square brackets[] are used.
    * Inside these brackets, you can use a single column/row label, a list column/row labels, a slice of labels, a condition expresion or a colon.
    * Select specific rows and/or colums using loc when using the row and column name.
    * Select specific rows and/or columns using iloc when using the positions in the table.
    * You can assing new values to a selection based on loc/iloc